.content__products-info {
    display: grid;
    gap: 1rem;
    text-align: center;
    padding: 20px;
    
}

.content__products-info p {
    padding: 0 80px;
}

.content__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 2rem;
    cursor: pointer;

}

.footer__products-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.price {
    font-size: 1.8rem;
    color: rgb(134, 134, 134);
}