.container__puschase {
    max-width: 900px;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
} 




.purchase__header img {
    max-width: 100px;
    min-width: 100px;

}

.purchase__card-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    
}


@media (max-width: 850px) {
    .container__puschase {
        flex-direction: column;
        gap: 1.5rem;
        /* padding: 0px 300px; */
    }

    .purchase__card-info {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 0.5rem;
        padding: 0 50px;
    }
}