.content__login {
    padding-top: 80px;
    
}


.form__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: white;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    padding: 20px;
}

.content__login-input {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.input__login,
.btn__login {
    width: 100%;
    height: 38px;
}

.btn__login {
    background-color: var(--primary);
    color: white;
}

.example__login {
    display: grid;
    gap: 0.5rem;
    background-color: #d8f5fd;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
}

.to__register-tittle {
    color: black;
}

.to__register-tittle span {
    color: rgb(5, 163, 255);
}

.content__login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   
}

.content__login h2 {
    background-color: #f85555;
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 80px;
    border-radius: 15px;
}


.bxs-user {
    font-size: 150px;
    color: rgb(122, 122, 122);
}

.btn__login {
    width: 200px;
    height: 30px;
    background-color:#4f4f4f; ;
}