* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #f85555;
    --light-gray: #dcd9d9;
    --gray: #c7c7c7;
    --dark-gray: #4f4f4f;
    --text-gray: #ababab;
}
img {
    width: 100%;
   
    display: block;
    
}

:any-link{
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
}

body {
    background-color: #f1f0f0;
    font-family: Yantramanav,sans-serif;
    
}
